openapi: 3.2.0
info:
  title: ShieldLabs Management API
  version: '1.2'
  description: 'The ShieldLabs API surfaces visitor identification, anonymity detection, and

    abuse and fraud prevention for your application.'
  contact:
    email: support@shieldlabs.ai
servers:
- url: https://account.shieldlabs.ai/api
  description: History API (Private API Key, recommended for snapshot reads)
- url: https://api.shieldlabs.ai
  description: Management API (Secret Key — profile and balance)
tags:
- name: Management API
  description: 'Profile and balance on api.shieldlabs.ai.

    Authenticated with Secret Key headers. GET /v1/history is deprecated; use History API.'
paths:
  /v1/profile:
    get:
      tags:
      - Management API
      summary: Get domain profile
      description: 'Returns the profile for a domain: remaining request balance and masked keys. Free (0 requests).'
      operationId: getProfileV1
      security:
      - SecretKeyHeader: []
      responses:
        '200':
          description: Domain profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        '401':
          $ref: '#/components/responses/UnauthorizedEmpty'
  /v1/history/{type}/{value}:
    get:
      tags:
      - Management API
      summary: Search history by identifier (deprecated)
      deprecated: true
      description: 'Deprecated. Use `searchHistoryAccount` on account.shieldlabs.ai

        (`https://account.shieldlabs.ai/api/v1/history`). Sunset: 2027-01-01.

        Responses include `Deprecation`, `Sunset`, and `Link: rel="successor-version"`

        pointing at the History API. Still returns stored snapshots in a PascalCase

        JSON array, newest first. Does not consume request balance. Served on api.shieldlabs.ai.'
      operationId: searchHistoryV1
      security:
      - SecretKeyHeader: []
      parameters:
      - name: type
        in: path
        required: true
        schema:
          type: string
          enum:
          - ip
          - user_hid
          - visitor_id
          - request_id
          - device_id
          - session_id
          - cookie_id
      - name: value
        in: path
        required: true
        schema:
          type: string
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 100
      responses:
        '200':
          description: Matching snapshots, newest first
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Snapshot'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnauthorizedEmpty'
        '404':
          description: Unsupported identifier type
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
components:
  schemas:
    ScoreDetail:
      type: object
      description: Signal row on Management API Snapshot.Details (PascalCase). Not used in webhooks.
      properties:
        Value:
          type: integer
        Description:
          type: string
    Error:
      type: object
      properties:
        error:
          type: string
          examples:
          - too many requests
          - invalid api key
    Profile:
      type: object
      properties:
        Domain:
          type: string
        Weight:
          type: integer
        PublicKey:
          type: string
        Secret:
          type: string
        CreatedAt:
          type: string
          format: date-time
    Snapshot:
      type: object
      description: Deprecated Management History array element (PascalCase). Prefer History API snake_case rows.
      properties:
        RequestID:
          type: string
          format: uuid
        SessionID:
          type: string
          format: uuid
        CookieID:
          type: string
          format: uuid
        DeviceID:
          type: string
          format: uuid
        VisitorID:
          type: string
          format: uuid
        IP:
          type: string
        ConnectionType:
          type: string
          enum:
          - direct
          - mobile
          - vpn
          - proxy
          - tor
          - privacy_relay
          - browser_vpn_proxy
          - unknown
        WebRtcHIP:
          type: string
        OS:
          type: string
        Browser:
          type: string
        DeviceType:
          type: string
        Country:
          type: string
        UserHID:
          type: string
        Score:
          type: integer
        Details:
          type: array
          items:
            $ref: '#/components/schemas/ScoreDetail'
        LastRequestTime:
          type: string
          format: date-time
  responses:
    ServiceUnavailable:
      description: Gateway concurrency cap reached
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    UnauthorizedEmpty:
      description: Missing or invalid credentials, or the domain is disabled (empty body)
    BadRequest:
      description: Invalid parameters (bare JSON string on Management API)
    TooManyRequests:
      description: Per-IP rate limit exceeded
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    PrivateApiKey:
      type: http
      scheme: bearer
      description: Private API Key from the dashboard API tab (`sec_…`).
    SecretKeyHeader:
      type: http
      scheme: bearer
      description: Secret Key plus `X-Shield-Domain` header with your registered domain.
